.workSection {
  margin: 10rem auto;
  text-align: center;
  position: relative;
}

.workTitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4.42rem;
  letter-spacing: 1.8px;
}

#Layer_3 {
  position: absolute;
  width: 1.8rem;
  left: 36.8%;
  top: 8rem;
}

.workShow {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
  gap: 5rem;
}

.workShow .workDiv {
  position: relative;
  width: 80%;
  margin: 2rem auto;
}

.workDiv h4 {
  font-size: 2.6rem;
  font-family: Inter, sans-serif;
  text-align: left;
  width: 80%;
  margin: auto;
  font-weight: 800;
}

.workDiv p {
  font-family: Inter, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
  text-align: left;
  margin: 1rem auto 2rem;
  width: 80%;
}

.workDiv p span {
  font-family: 'Quintessential', serif;
  font-weight: 600;
  cursor: pointer;
  color: #FF9904;
  border-bottom: 2px solid #FF9904;
}

.linkImg1 {
  width: 70%;
  aspect-ratio: 2.2/1.3;
  object-fit: cover;
  border-radius: 1.42rem;
  border: 1.3px solid darkgray;
}

.linkImg2 {
  width: 30%;
  position: absolute;
  right: 3%;
  bottom: 0%;
  border: 1.3px solid darkgray;
  border-radius: 1rem;
}

.linkImg3 {
  width: 40%;
  height: 18rem;
  position: absolute;
  right: 3%;
  bottom: 0%;
  border-radius: 1rem;
  border: 1px solid darkgray;
}