.workSection {
  margin: 10rem auto 0;
  text-align: center;
  position: relative;
}

.workTitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4.42rem;
  letter-spacing: 1.8px;
  color: #fb9f3b;
}

.workTitle span {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  color: black;
}

#Layer_3 {
  position: absolute;
  width: 3.8rem;
  left: 30.8%;
  top: 8rem;
}

.workShow {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
  gap: 5rem;
}

.workShow .workDiv {
  position: relative;
  width: 100%;
  margin: 2rem auto;
}

.workDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.linkImg1 {
  width: 70%;
  aspect-ratio: 2.2/1.3;
  object-fit: cover;
  border-radius: 1.42rem;
  border: 1.3px solid darkgray;
}

.linkImg2 {
  width: 30%;
  position: absolute;
  right: 3%;
  bottom: 0%;
  border: 1.3px solid darkgray;
  border-radius: 1rem;
}

.linkImg3 {
  width: 40%;
  height: 18rem;
  position: absolute;
  right: 3%;
  bottom: 0%;
  border-radius: 1rem;
  border: 1px solid darkgray;
}

.img_div1 {
  width: 55%;
  border-radius: 1rem;
  border-radius: 1rem;
}

.img_div2 {
  width: 42%;
  border-radius: 1rem;
  background-color: #d3ece0;
}

.img_div3 {
  width: 100%;
  height: 32rem;
  border-radius: 1rem;
  background-color: #f9f2ef;
}

._branding p {
  border-radius: .6rem;
  padding: .4rem;
}

._wishties,
.img_div2_inner,
.img_div3_inner,
.img_div4_inner {
  width: 100%;
  border-radius: 1rem;
}