.contact {
  margin: 5rem auto 6.42rem;
  width: 70%;
  text-align: center;
}

.contact h3 {
  font-size: 3.6rem;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.6px;
}

.contactText {
  font-size: 1.42rem;
  font-family: Inter, sans-serif;
  margin: .5rem auto;
}

.contactText span {
  font-style: italic;
  font-size: 1.2rem;
  color: #FF9904;
}

.SMIcons {
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

.SMDiv {
  margin-top: 5rem;
}

.SMDiv h6 {
  font-size: 1.42rem;
  margin: 1rem 0;
  font-family: 'Quintessential', serif;
  color: #288990;
}

.linkIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.copy {
  font-size: 1rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin: .8rem 0;
}