.contact {
  margin: 1rem auto 6.42rem;
  width: 70%;
  text-align: center;
}

.contact h3 {
  font-size: 4.5rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.contactText {
  font-size: 1.42rem;
  font-family: Inter, sans-serif;
  margin: .5rem auto;
}

.contactText span {
  font-style: italic;
  color: #e67f22;
}

.SMIcons {
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

.SMDiv {
  margin-top: 5rem;
}

.SMDiv h6 {
  font-size: 2.62rem;
  margin: 1rem 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-style: italic;
  color: #288990;
}

.linkIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.copy {
  font-size: 1rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin: .8rem 0;
}


@media screen and (max-width: 1024px) {
  .contact h3 {
    font-size: 3.42rem;
  }

  @media screen and (max-width: 800px) {
    .SMDiv h6 {
      font-size: 2rem;
    }

    @media screen and (max-width: 600px) {
      .contact {
        width: 90%;
      }

      .contact h3 {
        font-size: 2.42rem;
      }

      .contactText {
        font-size: 1rem;
      }

      .SMDiv h6 {
        font-size: 1.5rem;
      }
    }
  }
}