.aboutSection {
  width: 95%;
  margin: 1rem auto;
  text-align: center;
  position: relative;
}

/* .videoEl {
  width: 70%;
  border-radius: 1.42rem;
  height: 30rem;
  border: transparent;
} */

/* .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;  Aspect ratio of 16:9 
  height: 0;
  overflow: hidden;
  width: 100%;  Makes the wrapper take the full width of its container 
} */

/* .videoWrapper .videoEl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.42rem;
  border: transparent;
} */

  .videoWrapper {
    position: relative;
    width: 70%; /* Maximum width of the video wrapper */
    padding-top: 38.85%; /* Aspect ratio of 16:9 (100% / 2.35 for a rectangular ratio) */
    margin: 0 auto; /* Center the video wrapper */
    overflow: hidden;
    border-radius: 1.42rem; /* Add border-radius to the wrapper */
  }

  .videoWrapper .videoEl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.42rem;
    border: transparent;
  }

.aboutText {
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin: 2rem auto;
  width: 75%;
  line-height: 1.4;
  color: #003049;
}

.aboutText span {
  font-weight: bold;
}

.skillsDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  margin: 3rem auto;
}

.skillsTitle span {
  font-style: italic;
  font-weight: 600;
}

.skillsWrapper {
  margin: 5rem auto;
  background-color: #383838;
  padding: .8rem 2.5rem;
  border-radius: 1.8rem;
}

.skillsTitle { 
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3.6rem;
  color: #fb9f3b;
}

.skillsLogos {
  display: flex;
  gap: 1.3rem;
  flex-wrap: wrap;
  margin: 1.3rem 0;
}

.skillsLogos img {
  width: 4.8rem;
  padding: .3rem .6rem;
  border-radius: .6rem;
  background-color: #f7f7f7;
  aspect-ratio: 3/3;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}


@media screen and (max-width: 1024px) {
  @media screen and (max-width: 800px) {
    .aboutText {
      font-size: 1.3rem;
      width: 90%;
      line-height: 1.2;
    }

    .skillsTitle { 
      font-size: 2.6rem;
    }

    @media screen and (max-width: 600px) {
      .aboutText {
        font-size: 1.2rem;
        width: 93%;
        line-height: 1.2;
      }

      .aboutText span {
        font-weight: 500;
      }

      /* .videoEl {
        width: 96%;
        border-radius: .8rem;
        height: 13rem;
        border: transparent;
      } */

      .skillsTitle {
        font-size: 1.8rem;
      }

      .skillsLogos {
        align-items: center;
        justify-content: center;
      }

      .skillsLogos img {
        width: 4.6rem;
      }

      .skillsWrapper {
        margin: 2.8rem auto;
        padding: .8rem 1rem;
      }

      .skillsDiv {
        text-align: center;
        margin: 1rem auto 3rem;
      }
    }
  }
}